:root {
    --color-main-color: #db4d0f;
    --color-placeholder-color: #d2d1d6;
    --color-main-text: #313131;
    
    
}

body {
    margin: 0;
    font: 18px/1.7 'Open Sans', sans-serif;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13.4rem;
    width: 100%;
    background-color: var(--color-main-color);
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 3rem 5rem;
    max-width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: var(--color-main-color);
}

.form-group input {
    height: 2.8rem;
    border-radius: 10px;
    border-width: 1px;
}

.form-group input::placeholder {
    padding-left: 0.9rem;
    color: var(--color-placeholder-color);
    font-size: 1rem;
}

.form-group.email {
    grid-column: 1 / -1;
}

.form-group legend {
    font-weight: 600;
    color: var(--color-main-color);
    margin-left: 3rem;
}

.form-group.gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
}

.form-group.gender legend {
    margin-left: -1.3rem;
}

.form-group.gender label {
    display: flex;
    align-items: center;
    color: var(--color-main-text);
    font-weight: 100;
}

.radio-button-form {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.radio-button {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-button-style {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-placeholder-color);
    border-radius: 50%;
    margin-left: -30px;
    margin-bottom: 3px;
}

.radio-button:checked + .radio-button-style::before {
    content: "";
    background-color: var(--color-main-color);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffcbba;
}

.form-group.hobbies {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.form-group.hobbies legend {
    margin-left: 1rem;
}